{% extends 'base.html.twig' %}

{% block title %}Zaloguj się do Panelu Administracyjnego{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Wyloguj się</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Zaloguj się do Panelu Administracyjnego</h1>
    <label for="inputUsername">Nazwa Użytkownika</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Hasło</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-lg btn-primary" type="submit">
        Zaloguj się
    </button>
</form>
{% endblock %}
