{% extends 'base.html.twig' %}

{% block title %}Szczegóły klienta!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Szczegóły klienta {{ client.name }}</h1>

        <p>Status prawny:
        {% if client.status == 0 %}
            Klient indywidualny
        {% else %}
            Firma
        {% endif %}
        </p>
        <p>Ulica i numer domu: {{ client.street }} &nbsp; {{ client.number }}</p>
        <p>Miasto: {{ client.street }}</p>
        <p>Kod pocztowy: {{ client.postcode }}</p>
        <p>Województwo: {{ client.province }}</p>
        <p>Telefon: {{ client.directional }}{{ client.phone }}</p>
        <p>E-mail: {{ client.email }}</p>
        <p>
            {% if client.status == 0 %}
                PESEL:
            {% else %}
                NIP:
            {% endif %}
            {{ client.identifier }}
        </p>
    </div>
{% endblock %}
