{% extends 'base.html.twig' %}

{% block title %}Panel administracyjny{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Szczegółu klienta {{ registration.name }}</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Status prawny</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Ulica i numer domu</th>
                <th scope="col">Miasto, kod pocztowy</th>
                <th scope="col">Województwo</th>
                <th scope="col">Numer telefonu</th>
                <th scope="col">E-mail</th>
                {% if registration.status == 0 %}
                    <th scope="col">PESEL</th>
                {% else %}
                    <th scope="col">NIP</th>
                {% endif %}
                <th scope="col">Akcje</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ registration.id }}</th>
                    <th>{% if registration.status == 0 %} Klient indywidualny {% else %} Firma {% endif %}</th>
                    <th>{{ registration.name }}</th>
                    <th>{{ registration.street }}, {{ registration.number }}</th>
                    <th>{{ registration.town }}, {{ registration.postcode }}</th>
                    <th>{{ registration.province }}</th>
                    <th>{{ registration.directional }}{{ registration.phone }}</th>
                    <th>{{ registration.email }}</th>
                    <th>{{ registration.identifier }}</th>
                    <th>
                        <a class="button" href="{{ path('admin_edit_client', {'id': registration.id }) }}">Edytuj</a>
                        <a class="button" href="{{ path('admin_delete_client', {'id': registration.id }) }}">Usuń</a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
