{% extends 'base.html.twig' %}

{% block title %}Formularz rejestracyjny{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    // $.ajax({
    //     url: 'http://api.dro.nazwa.pl',
    //     type: 'GET',
    //     // header: "Access-Control-Allow-Origin: *",
    //     // header: "Content-Type: application/json; charset=UTF-8",
    //     header: {
    //         "Access-Control-Allow-Origin": "*",
    //         "Content-Type": "application/json; charset=UTF-8"
    //     },
    //     success: function (data) {
    //         console.log(data)
    //     },
    //     error: function (xhr, textStatus, test) {
    //         console.log('error')
    //     }
    // });
    $(document).ready(function () {
        $("#firma").on('click', function () {
            $("#indywidualny").prop('checked', false);
            $(this).prop('checked', true);
            $('.for_to_drugie').hide();
            $(".for_firma").show();
            $("#register_status").val(0);
        });
        $("#indywidualny").on('click', function () {
            $("#firma").prop('checked', false);
            $(this).prop('checked', true);
            $(".for_firma").hide();
            $('.for_to_drugie').show();
            $("#register_status").val(1);
        })
    });


</script>
    <style>
        .hide, .for_firma {
            display: none;
        }
        .radio-box {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 30px;
        }
        .radio-box .form-check {
            margin-right: 30px;
        }
        .base_form p {
            margin-bottom: 0;
        }
        .buttons {
            text-align: right;
        }

    </style>
{% endblock %}


{% block body %}
<div class="container">
    <h1>DANE IDENTYFIKACYJNE</h1>
    <hr>
</div>

    {{ form_start(form) }}
    <div class="container">
        <div class="row base_form">
            <div class="col-12 radio-box">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="indywidualny"  checked>
                    <label class="form-check-label" for="indywidualny">
                        Indywidualny
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="firma">
                    <label class="form-check-label" for="firma">
                        Firma
                    </label>
                </div>
            </div>
            <div class="col-12">
                <div class="col-12 hide">
                    {{ form_errors(form.status) }}
                    <p>Status: {{ form_widget(form.status) }}</p>
                </div>
                <div class="form-group">
                    <label class="for_firma">Nazwa firmy:</label>
                    <label class="for_to_drugie">Imię i nazwisko: </label>
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="exampleFormControlInput1">Ulica:</label>
                    </div>
                    <div class="col-12 col-md-10">
                        <div class="form-group">
                            {{ form_widget(form.street) }}
                            {{ form_errors(form.street) }}
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            {{ form_widget(form.number) }}
                            {{ form_errors(form.number) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Miejscowość, kod pocztowy:</p>
                    </div>
                    <div class="col-12 col-md-10">
                        <div class="form-group">
                            {{ form_widget(form.town) }}
                            {{ form_errors(form.town) }}
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            {{ form_widget(form.postcode) }}
                            {{ form_errors(form.postcode) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Województwo: </label>
                    {{ form_widget(form.province) }}
                    {{ form_errors(form.province) }}
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Telefon</p>
                    </div>
                    <div class="col-12 col-md-1">
                        <div class="form-group">
                            {{ form_widget(form.directional) }}
                            {{ form_errors(form.directional) }}
                        </div>
                    </div>
                    <div class="col-12 col-md-11">
                        <div class="form-group">
                            {{ form_widget(form.phone) }}
                            {{ form_errors(form.phone) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">E-mail: </label>
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-group">
                    <label class="for_firma">NIP:</label>
                    <label class="for_to_drugie">PESEL: </label>
                    {{ form_widget(form.identifier) }}
                    {{ form_errors(form.identifier) }}
                </div>
                <hr>
                <div class="buttons">
                    {{ form_widget(form.save, { 'label': 'Zarejestruj się' }) }}
                </div>
            </div>
        </div>

    </div>
    {{ form_end(form) }}
{% endblock %}
